.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
src/*.o
area/mangus
src/mangus
gods/*
log/ip/*
log/kanal/*
player/*
data
log/events/events
.gitignore
src/*.bak
src/mangus.dSYM/Contents/Info.plist
src/mangus.dSYM/Contents/Resources/DWARF/mangus
src/mangus.dSYM/Contents/Resources/Relocations/aarch64/mangus.yml
.DS_Store
mcp.json
repomix-output.xml
diff.txt
diff.txt
