.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
src/*.o
area/mangus
src/mangus
gods/*
log/ip/*
log/kanal/*
player/*
data
log/events/events
srcorjinal/act_comm.c
srcorjinal/act_hera.c
srcorjinal/act_info.c
srcorjinal/act_move.c
srcorjinal/act_obj.c
srcorjinal/act_wiz.c
srcorjinal/automake
srcorjinal/ban.c
srcorjinal/cJSON.c
srcorjinal/cJSON.h
srcorjinal/comm.c
srcorjinal/const.c
srcorjinal/data.c
srcorjinal/db.c
srcorjinal/db.h
srcorjinal/db2.c
srcorjinal/dilek.c
srcorjinal/effects.c
srcorjinal/ek.c
srcorjinal/ek.h
srcorjinal/ek2.c
srcorjinal/ek2.h
srcorjinal/exlist.c
srcorjinal/fight.c
srcorjinal/flags.c
srcorjinal/handler_room.c
srcorjinal/handler.c
srcorjinal/healer.c
srcorjinal/interp.c
srcorjinal/interp.h
srcorjinal/kirliisler.c
srcorjinal/lookup.c
srcorjinal/lookup.h
srcorjinal/mafya.c
srcorjinal/magic.c
srcorjinal/magic.h
srcorjinal/magic2.c
srcorjinal/Makefile
srcorjinal/Makefile.aix
srcorjinal/Makefile.hp
srcorjinal/Makefile.linux
srcorjinal/Makefile.sunos
srcorjinal/Makefile.sysv
srcorjinal/martial_art.c
srcorjinal/merc.h
srcorjinal/mob_creator.c
srcorjinal/mob_prog.c
srcorjinal/obj_creator.c
srcorjinal/obj_prog.c
srcorjinal/quest.c
srcorjinal/recycle.c
srcorjinal/recycle.h
srcorjinal/save.c
srcorjinal/skills.c
srcorjinal/special.c
srcorjinal/tables.c
srcorjinal/tables.h
srcorjinal/telnet.h
srcorjinal/update.c
